# Superstore Data Analysis

### Load SQL Extension

In [47]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Connect to the Database

In [48]:
connection_string = 'postgresql://database:password@localhost:hostnumber/superstore'
%sql $connection_string

In [54]:
%%sql

SELECT * 
FROM orders 
LIMIT 2

 * postgresql://postgres:***@localhost:5433/superstore
2 rows affected.

[(1, 'ES-2023-1311038', datetime.date(2023, 2, 7), datetime.date(2023, 2, 11), 'Standard Class', 'AS-10045', 'Aaron Smayling', 'Corporate', 'Leeds', 'England', 'United Kingdom', 'North', 'OFF-ST-10000988', 'Office Supplies', 'Storage', 'Fellowes Folders, Blue', Decimal('79.2'), 3, Decimal('0'), Decimal('39.6')),
 (2, 'ES-2023-1311038', datetime.date(2023, 2, 7), datetime.date(2023, 2, 11), 'Standard Class', 'AS-10045', 'Aaron Smayling', 'Corporate', 'Leeds', 'England', 'United Kingdom', 'North', 'TEC-AC-10004144', 'Technology', 'Accessories', 'SanDisk Numeric Keypad, Bluetooth', Decimal('388.92'), 7, Decimal('0'), Decimal('0'))]

## Sales Performance Analysis:

- Total sales,total cusomters, total orders quantity sold, and profit over time (Year)

In [55]:
%%sql


with yearly_table as (
SELECT date_part('year', order_date)::int as year,
        COUNT(DISTINCT order_date) as total_orders,
        COUNT(DISTINCT customer_id) as total_customer,
        round(SUM(sales), 1) as total_sales,
        round(SUM(profit), 1) as total_profit,
        SUM(profit) / SUM(sales) * 100 profit_margin
from orders 
GROUP BY 1
),
overall_table as (
SELECT SUM(total_orders) as overall_order,
        SUM(total_customer) as overall_customer,
        SUM(total_sales) as overall_sales,
        SUM(total_profit) as overall_profit
FROM yearly_table
)

SELECT year,
        total_orders,
        round((total_orders::numeric / overall_order * 100), 1) as pct_orders,
        round((total_orders::numeric / LAG(total_orders) OVER(ORDER BY year) - 1) * 100, 1) as orders_yoy ,
        total_customer,
        round(total_customer::numeric / overall_customer * 100, 1) as pct_cusomter,
        round((total_customer::numeric / LAG(total_customer) OVER(ORDER BY year)  - 1) * 100, 1) as customer_yoy,
        total_sales,
        round((total_sales::numeric / overall_sales * 100), 1) as pct_sales,
        round((total_sales::numeric / LAG(total_sales) OVER(ORDER BY year) - 1) * 100, 1) as sales_yoy ,
        total_profit,
        round((total_profit::numeric / LAG(total_profit) OVER(ORDER BY year) - 1) * 100, 1) as profit_yoy,
        round(profit_margin, 1) as profit_margin
        
FROM yearly_table as yt
    JOIN overall_table ot 
    ON 1 = 1

 * postgresql://postgres:***@localhost:5433/superstore
4 rows affected.

[(2020, 290, Decimal('23.1'), None, 533, Decimal('21.3'), None, Decimal('477796.7'), Decimal('16.3'), None, Decimal('61376.2'), None, Decimal('12.8')),
 (2021, 309, Decimal('24.7'), Decimal('6.6'), 598, Decimal('23.9'), Decimal('12.2'), Decimal('652647.4'), Decimal('22.2'), Decimal('36.6'), Decimal('84024.8'), Decimal('36.9'), Decimal('12.9')),
 (2022, 320, Decimal('25.5'), Decimal('3.6'), 666, Decimal('26.6'), Decimal('11.4'), Decimal('765441.2'), Decimal('26.1'), Decimal('17.3'), Decimal('98484.4'), Decimal('17.2'), Decimal('12.9')),
 (2023, 334, Decimal('26.7'), Decimal('4.4'), 706, Decimal('28.2'), Decimal('6.0'), Decimal('1042203.7'), Decimal('35.5'), Decimal('36.2'), Decimal('128944.4'), Decimal('30.9'), Decimal('12.4'))]

- Sales trends and seasonality

In [56]:
%%sql


with yearly_table as (
SELECT date_part('month', order_date)::int as month,
        COUNT(DISTINCT order_date) as total_orders,
        COUNT(DISTINCT customer_id) as total_customer,
        SUM(sales) as total_sales,
        SUM(profit) as total_profit,
        SUM(profit) / SUM(sales) * 100 profit_margin
from orders 
GROUP BY 1
),
overall_table as (
SELECT SUM(total_orders) as overall_order,
        SUM(total_customer) as overall_customer,
        SUM(total_sales) as overall_sales,
        SUM(total_profit) as overall_profit
FROM yearly_table
)

SELECT month,
        total_orders,
        round((total_orders::numeric / overall_order * 100), 1) as pct_orders,
        round((total_orders::numeric / LAG(total_orders) OVER(ORDER BY month) - 1) * 100, 1) as orders_yoy ,
        total_customer,
        round(total_customer::numeric / overall_customer * 100, 1) as pct_cusomter,
        round((total_customer::numeric / LAG(total_customer) OVER(ORDER BY month)  - 1) * 100, 1) as customer_yoy,
        total_sales,
        round((total_sales::numeric / overall_sales * 100), 1) as pct_sales,
        round((total_sales::numeric / LAG(total_sales) OVER(ORDER BY month) - 1) * 100, 1) as sales_yoy ,
        total_profit,
        round((total_profit::numeric / LAG(total_profit) OVER(ORDER BY month) - 1) * 100, 1) as profit_yoy,
        round(profit_margin, 1)
        
FROM yearly_table as yt
    JOIN overall_table ot 
    ON 1 = 1

 * postgresql://postgres:***@localhost:5433/superstore
12 rows affected.

[(1, 104, Decimal('8.3'), None, 258, Decimal('6.7'), None, Decimal('176823.8490'), Decimal('6.0'), None, Decimal('23664.7890'), None, Decimal('13.4')),
 (2, 88, Decimal('7.0'), Decimal('-15.4'), 237, Decimal('6.1'), Decimal('-8.1'), Decimal('156525.7725'), Decimal('5.3'), Decimal('-11.5'), Decimal('20486.6625'), Decimal('-13.4'), Decimal('13.1')),
 (3, 102, Decimal('8.1'), Decimal('15.9'), 238, Decimal('6.2'), Decimal('0.4'), Decimal('148311.0300'), Decimal('5.0'), Decimal('-5.2'), Decimal('17625.6000'), Decimal('-14.0'), Decimal('11.9')),
 (4, 101, Decimal('8.1'), Decimal('-1.0'), 246, Decimal('6.4'), Decimal('3.4'), Decimal('169667.1360'), Decimal('5.8'), Decimal('14.4'), Decimal('19792.3260'), Decimal('12.3'), Decimal('11.7')),
 (5, 101, Decimal('8.1'), Decimal('0.0'), 248, Decimal('6.4'), Decimal('0.8'), Decimal('172399.9860'), Decimal('5.9'), Decimal('1.6'), Decimal('23306.2860'), Decimal('17.8'), Decimal('13.5')),
 (6, 110, Decimal('8.8'), Decimal('8.9'), 393, Decimal('10.2'), Decimal('58.5'), Decimal('335070.2985'), Decimal('11.4'), Decimal('94.4'), Decimal('38146.9485'), Decimal('63.7'), Decimal('11.4')),
 (7, 100, Decimal('8.0'), Decimal('-9.1'), 249, Decimal('6.5'), Decimal('-36.6'), Decimal('187130.1075'), Decimal('6.4'), Decimal('-44.2'), Decimal('22297.9575'), Decimal('-41.5'), Decimal('11.9')),
 (8, 114, Decimal('9.1'), Decimal('14.0'), 461, Decimal('11.9'), Decimal('85.1'), Decimal('375487.8990'), Decimal('12.8'), Decimal('100.7'), Decimal('49797.4890'), Decimal('123.3'), Decimal('13.3')),
 (9, 111, Decimal('8.9'), Decimal('-2.6'), 426, Decimal('11.0'), Decimal('-7.6'), Decimal('357791.5455'), Decimal('12.2'), Decimal('-4.7'), Decimal('53444.2755'), Decimal('7.3'), Decimal('14.9')),
 (10, 102, Decimal('8.1'), Decimal('-8.1'), 247, Decimal('6.4'), Decimal('-42.0'), Decimal('159693.3870'), Decimal('5.4'), Decimal('-55.4'), Decimal('24826.2870'), Decimal('-53.5'), Decimal('15.5')),
 (11, 111, Decimal('8.9'), Decimal('8.8'), 420, Decimal('10.9'), Decimal('70.0'), Decimal('337097.1900'), Decimal('11.5'), Decimal('111.1'), Decimal('36570.3300'), Decimal('47.3'), Decimal('10.8')),
 (12, 109, Decimal('8.7'), Decimal('-1.8'), 436, Decimal('11.3'), Decimal('3.8'), Decimal('362090.8605'), Decimal('12.3'), Decimal('7.4'), Decimal('42870.7905'), Decimal('17.2'), Decimal('11.8'))]

- Top-performing products, categories, and sub-categories

In [57]:
%%sql 

with summary_table as(
SELECT categoRy,
        sub_category, 
        SUM(sales) as total_sales,
        round(SUM(profit) / SUM(sales) * 100, 1) as profit_margin,
        SUM(quantity) as ordered_quantity
FROM orders
GROUP BY 1, 2
), 
ranking_table as (
SELECT *,
        RANK() OVER(ORDER BY total_sales desc) as s_rank,
        RANK() OVER(ORDER BY profit_margin desc) as p_rank,
        RANK() OVER(ORDER BY ordered_quantity desc) as q_rank
FROM summary_table
)
SELECT *, 
        round((s_rank + p_rank + q_rank / 3.0)) as overall_rank
FROM ranking_table
order by overall_rank

 * postgresql://postgres:***@localhost:5433/superstore
17 rows affected.

[('Furniture', 'Bookcases', Decimal('363525.699'), Decimal('15.5'), 1785, 2, 11, 7, Decimal('15')),
 ('Technology', 'Copiers', Decimal('365128.6140'), Decimal('15.4'), 1733, 1, 12, 10, Decimal('16')),
 ('Technology', 'Accessories', Decimal('163073.463'), Decimal('20.5'), 1761, 8, 5, 8, Decimal('16')),
 ('Office Supplies', 'Art', Decimal('160088.184'), Decimal('19.2'), 5394, 9, 7, 1, Decimal('16')),
 ('Technology', 'Phones', Decimal('361312.0320'), Decimal('10.3'), 2169, 3, 13, 4, Decimal('17')),
 ('Office Supplies', 'Binders', Decimal('99762.690'), Decimal('19.8'), 5058, 11, 6, 2, Decimal('18')),
 ('Office Supplies', 'Appliances', Decimal('275439.183'), Decimal('16.8'), 1187, 5, 9, 16, Decimal('19')),
 ('Office Supplies', 'Storage', Decimal('339684.267'), Decimal('8.2'), 4867, 4, 15, 3, Decimal('20')),
 ('Office Supplies', 'Envelopes', Decimal('40124.061'), Decimal('21.5'), 1599, 15, 2, 13, Decimal('21')),
 ('Office Supplies', 'Fasteners', Decimal('20330.361'), Decimal('21.8'), 1597, 16, 1, 14, Decimal('22')),
 ('Office Supplies', 'Paper', Decimal('42450.861'), Decimal('20.9'), 1664, 14, 4, 12, Decimal('22')),
 ('Furniture', 'Chairs', Decimal('228980.967'), Decimal('8.6'), 1813, 6, 14, 5, Decimal('22')),
 ('Office Supplies', 'Supplies', Decimal('52782.753'), Decimal('18.2'), 1787, 13, 8, 6, Decimal('23')),
 ('Office Supplies', 'Labels', Decimal('15644.664'), Decimal('21.0'), 1730, 17, 3, 11, Decimal('24')),
 ('Furniture', 'Furnishings', Decimal('81215.007'), Decimal('16.8'), 1734, 12, 9, 9, Decimal('24')),
 ('Technology', 'Machines', Decimal('223164.8790'), Decimal('7.7'), 1556, 7, 16, 15, Decimal('28')),
 ('Furniture', 'Tables', Decimal('105381.3765'), Decimal('-19.9'), 339, 10, 17, 17, Decimal('33'))]

## Customer Analysis:

- Customer segmentation based on purchasing behavior

In [58]:
%%sql 

with summary_table as(
SELECT customer_id,
        MIN(order_date) as first_order,
        MAX(order_date) as last_order,
        round((MAX(order_date) - MIN(order_date)) / 365.0, 2) as customer_lifespan,
        count(DISTINCT order_id) as customer_orders,
        SUM(sales) as total_sales,
        SUM(profit) as total_profit
FROM orders
GROUP BY 1
),

today_table as(
    SELECT  MAX(last_order) as today_date
    from summary_table),

ranking as (
SELECT 
        customer_id,
        customer_lifespan,
        round(customer_orders / GREATEST(customer_lifespan, 1), 1) as freq_order_yearly,
        (today_date - last_order) as last_order,
        customer_orders,
        total_sales,
        total_profit,
        NTILE(5) OVER (ORDER BY total_sales) as m_score,
        NTILE(5) OVER (ORDER BY customer_orders) as f_score,
        NTILE(5) OVER (ORDER BY (today_date - last_order) desc) as r_score
FROM summary_table
    JOIN today_table 
    ON 1 = 1
ORDER BY total_sales desc
limit 10
)

SELECT *,
    CASE 
        WHEN r_score >= 4 AND f_score >= 4 AND m_score >= 4 THEN 'Best Customers'
        WHEN r_score >= 3 AND f_score >= 3 AND m_score >= 3 THEN 'Loyal Customers'
        WHEN r_score >= 4 AND f_score >= 1 AND m_score >= 4 THEN 'Big Spenders'
        WHEN r_score <= 2 AND f_score >= 3 AND m_score >= 3 THEN 'Lost Customers'
        WHEN r_score >= 3 AND f_score <= 2 AND m_score <= 2 THEN 'New Customers'
        WHEN r_score <= 2 AND f_score <= 2 AND m_score <= 2 THEN 'Lost Cheap Customers'
        ELSE 'Others'
    END AS customer_segment
FROM ranking

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[('SP-20920', Decimal('2.30'), Decimal('5.2'), 306, 12, Decimal('16564.143'), Decimal('4974.513'), 5, 5, 1, 'Lost Customers'),
 ('DL-13315', Decimal('3.42'), Decimal('2.6'), 18, 9, Decimal('13192.7145'), Decimal('2243.4645'), 5, 5, 5, 'Best Customers'),
 ('PO-18865', Decimal('3.63'), Decimal('2.8'), 63, 10, Decimal('13056.297'), Decimal('3778.197'), 5, 5, 3, 'Loyal Customers'),
 ('ZC-21910', Decimal('3.26'), Decimal('3.4'), 3, 11, Decimal('11853.069'), Decimal('-464.511'), 5, 5, 5, 'Best Customers'),
 ('JH-15820', Decimal('3.41'), Decimal('2.6'), 110, 9, Decimal('11727.2925'), Decimal('2860.1025'), 5, 5, 3, 'Loyal Customers'),
 ('MR-17545', Decimal('3.01'), Decimal('2.7'), 151, 8, Decimal('11500.3755'), Decimal('1440.0255'), 5, 4, 2, 'Lost Customers'),
 ('GT-14710', Decimal('3.01'), Decimal('2.0'), 69, 6, Decimal('11429.508'), Decimal('1111.008'), 5, 3, 3, 'Loyal Customers'),
 ('CM-11830', Decimal('3.31'), Decimal('3.3'), 6, 11, Decimal('11302.1535'), Decimal('1844.3235'), 5, 5, 5, 'Best Customers'),
 ('DJ-13420', Decimal('3.60'), Decimal('3.1'), 22, 11, Decimal('11159.442'), Decimal('1245.522'), 5, 5, 5, 'Best Customers'),
 ('HG-14845', Decimal('2.91'), Decimal('2.1'), 42, 6, Decimal('10466.7645'), Decimal('-1698.8655'), 5, 3, 4, 'Loyal Customers')]

- summarise customer segmentation based on RFM

In [59]:
%%sql 

with summary_table as(
SELECT customer_id,
        MIN(order_date) as first_order,
        MAX(order_date) as last_order,
        round((MAX(order_date) - MIN(order_date)) / 365.0, 2) as customer_lifespan,
        count(DISTINCT order_id) as customer_orders,
        SUM(sales) as total_sales,
        SUM(profit) as total_profit
FROM orders
GROUP BY 1
),

today_table as(
    SELECT  MAX(last_order) as today_date
    from summary_table),

ranking as (
SELECT 
        customer_id,
        customer_lifespan,
        round(customer_orders / GREATEST(customer_lifespan, 1), 1) as freq_order_yearly,
        (today_date - last_order) as last_order,
        customer_orders,
        total_sales,
        total_profit,
        NTILE(5) OVER (ORDER BY total_sales) as m_score,
        NTILE(5) OVER (ORDER BY customer_orders) as f_score,
        NTILE(5) OVER (ORDER BY (today_date - last_order) desc) as r_score
FROM summary_table
    JOIN today_table 
    ON 1 = 1
ORDER BY total_sales desc
),

customer_segmentation as(

SELECT *,
    CASE 
        WHEN r_score >= 4 AND f_score >= 4 AND m_score >= 4 THEN 'Best Customers'
        WHEN r_score >= 3 AND f_score >= 3 AND m_score >= 3 THEN 'Loyal Customers'
        WHEN r_score >= 4 AND f_score >= 1 AND m_score >= 4 THEN 'Big Spenders'
        WHEN r_score <= 2 AND f_score >= 3 AND m_score >= 3 THEN 'Lost Customers'
        WHEN r_score >= 3 AND f_score <= 2 AND m_score <= 2 THEN 'New Customers'
        WHEN r_score <= 2 AND f_score <= 2 AND m_score <= 2 THEN 'Lost Cheap Customers'
        ELSE 'Others'
    END AS customer_segment
FROM ranking
),

customer_segmentation_summary as(
SELECT customer_segment,
        round(SUM(total_sales), 1) as total_sales,
        round(SUM(total_profit), 1) as total_profit,
        round(SUM(total_profit) / SUM(total_sales) * 100 , 1) as profit_margin
FROM customer_segmentation
GROUP BY 1
ORDER BY total_sales desc  
)

SELECT customer_segment,
        round(total_sales / SUM(total_sales) OVER() * 100, 1) as sales_pct,
        round(total_profit / SUM(total_profit) OVER() * 100, 1) as profit_pct,
        profit_margin
FROM customer_segmentation_summary

 * postgresql://postgres:***@localhost:5433/superstore
7 rows affected.

[('Best Customers', Decimal('24.7'), Decimal('27.8'), Decimal('14.3')),
 ('Loyal Customers', Decimal('21.8'), Decimal('20.3'), Decimal('11.8')),
 ('Others', Decimal('20.1'), Decimal('19.0'), Decimal('12.0')),
 ('Lost Customers', Decimal('19.2'), Decimal('20.2'), Decimal('13.3')),
 ('Lost Cheap Customers', Decimal('4.9'), Decimal('3.8'), Decimal('9.9')),
 ('Big Spenders', Decimal('4.8'), Decimal('5.5'), Decimal('14.6')),
 ('New Customers', Decimal('4.5'), Decimal('3.4'), Decimal('9.6'))]

- Customer lifetime Value (CLTV)

In [60]:
%%sql


with customer_table as(
SELECT customer_id,
        MIN(order_date) as first_order,
        MAX(order_date) as last_order,
        round((MAX(order_daTe) - MIN(order_date)) / 365.0, 1) as customer_lifespan_year,
        SUM(sales) as total_sales,
        SUM(sales) / count(distinct order_id) as avg_order
FROM orders
GROUP BY 1)


SELECT date_part('year', first_order)::int as year,
        COUNT(customer_id) as new_customer,
        round(avg(avg_order), 1) as avg_order,
        round(AVG(customer_lifespan_year), 1) as avg_customer_lifespan,
        round(AVG(total_sales / greatest(1, customer_lifespan_year)), 1) as avg_customer_value,
       round(AVG(customer_lifespan_year) * AVG(total_sales / greatest(1, customer_lifespan_year)), 1)  as cltv        
FROM customer_table
customer_table
GROUP BY 1
ORDER BY 1

 * postgresql://postgres:***@localhost:5433/superstore
4 rows affected.

[(2020, 533, Decimal('577.3'), Decimal('3.1'), Decimal('1286.1'), Decimal('3984.4')),
 (2021, 198, Decimal('583.2'), Decimal('2.2'), Decimal('1581.6'), Decimal('3458.0')),
 (2022, 59, Decimal('553.5'), Decimal('1.2'), Decimal('1872.8'), Decimal('2174.4')),
 (2023, 5, Decimal('442.0'), Decimal('0.2'), Decimal('839.3'), Decimal('184.6'))]

- Customer ranking based on sales, profit and quantity ordered

In [61]:
%%sql 


with customer_table as(
SELECT customer_id,
        round(SUM(sales), 1) as total_sales,
        round(SUM(profit), 1) as total_profit,
        SUM(quantity) as quantity_bought
FROM orders
GROUP BY 1
),

ranking_table as(
SELECT *,
        RANK() OVER(order by total_sales desc) as s_rank,
        RANK() OVER(ORDER BY total_profit desc) as p_rank,
        RANK() OVER(ORDER BY quantity_bought desc) as q_rank
from customer_table
)

SELECT *,
        round((0.5 * s_rank + 0.3 * p_rank + 0.2 * q_rank)  ) as overall_rank
from ranking_table
ORDER BY overall_rank
LIMIT 10

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[('SP-20920', Decimal('16564.1'), Decimal('4974.5'), 107, 1, 1, 20, Decimal('5')),
 ('DL-13315', Decimal('13192.7'), Decimal('2243.5'), 127, 2, 18, 4, Decimal('7')),
 ('JH-15820', Decimal('11727.3'), Decimal('2860.1'), 104, 5, 9, 23, Decimal('10')),
 ('HM-14860', Decimal('9938.4'), Decimal('2385.4'), 120, 14, 16, 7, Decimal('13')),
 ('CM-11830', Decimal('11302.2'), Decimal('1844.3'), 112, 8, 30, 13, Decimal('16')),
 ('JB-16000', Decimal('9688.3'), Decimal('2754.2'), 101, 16, 12, 28, Decimal('17')),
 ('MR-17545', Decimal('11500.4'), Decimal('1440.0'), 145, 6, 66, 2, Decimal('23')),
 ('SE-20110', Decimal('9379.5'), Decimal('2139.4'), 85, 20, 20, 64, Decimal('29')),
 ('RB-19330', Decimal('8650.4'), Decimal('2864.6'), 83, 27, 8, 72, Decimal('30')),
 ('YC-21895', Decimal('8530.9'), Decimal('1556.5'), 117, 30, 49, 9, Decimal('32'))]

## Product Analysis

- Product ranking based on weightage of different measure that is sales, profit, quantity, orders

In [62]:
%%sql


WITH prep_table as(
SELECT category,
        sub_category,
        product_id,
        product_name,
        round(SUM(sales), 1) as total_sales,
        round(SUM(profit), 1) as total_profit,
        round(SUM(quantity), 1) as total_quantity,
        round(COUNT(DISTINCT order_Id), 1) as total_orders
FROM orders
GROUP BY 1, 2, 3, 4
),

ranking_table as (
SELECT *,
        DENSE_RANK() OVER( ORDER BY total_sales) as r_sales,
        DENSE_RANK() OVER( ORDER BY total_profit) as r_profit,
        DENSE_RANK() OVER( ORDER BY total_quantity) as r_quantity,
        DENSE_RANK() OVER( ORDER BY total_orders) as r_orders
FROM prep_table
)
SELECT *,
        round((0.4 * r_sales + 0.2 * r_profit + 0.3 * r_quantity + 0.1 * r_orders)) as overall_ranking
FROM ranking_table
WHERE total_quantity > 5
ORDER BY overall_ranking
LIMIT 10

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[('Office Supplies', 'Fasteners', 'OFF-FA-10004494', 'Stockwell Push Pins, Metal', Decimal('43.5'), Decimal('-42.8'), Decimal('6.0'), Decimal('2.0'), 43, 289, 6, 2, Decimal('77')),
 ('Office Supplies', 'Binders', 'OFF-BI-10002412', 'Avery Hole Reinforcements, Economy', Decimal('35.3'), Decimal('0.0'), Decimal('8.0'), Decimal('3.0'), 27, 409, 8, 3, Decimal('95')),
 ('Office Supplies', 'Binders', 'OFF-BI-10001843', 'Wilson Jones Index Tab, Durable', Decimal('47.7'), Decimal('-14.7'), Decimal('8.0'), Decimal('3.0'), 53, 365, 8, 3, Decimal('97')),
 ('Office Supplies', 'Labels', 'OFF-LA-10003090', 'Harbour Creations File Folder Labels, Adjustable', Decimal('49.7'), Decimal('-19.6'), Decimal('11.0'), Decimal('2.0'), 59, 353, 11, 2, Decimal('98')),
 ('Office Supplies', 'Labels', 'OFF-LA-10002490', 'Hon Round Labels, Alphabetical', Decimal('45.4'), Decimal('0.4'), Decimal('7.0'), Decimal('2.0'), 46, 412, 7, 2, Decimal('103')),
 ('Office Supplies', 'Envelopes', 'OFF-EN-10000476', 'Kraft Clasp Envelope, Recycled', Decimal('50.7'), Decimal('-1.9'), Decimal('8.0'), Decimal('3.0'), 61, 401, 8, 3, Decimal('107')),
 ('Office Supplies', 'Fasteners', 'OFF-FA-10004503', 'Accos Staples, Assorted Sizes', Decimal('46.2'), Decimal('5.2'), Decimal('8.0'), Decimal('2.0'), 47, 438, 8, 2, Decimal('109')),
 ('Office Supplies', 'Fasteners', 'OFF-FA-10001348', 'Accos Thumb Tacks, Metal', Decimal('62.1'), Decimal('-5.0'), Decimal('6.0'), Decimal('2.0'), 75, 388, 6, 2, Decimal('110')),
 ('Office Supplies', 'Fasteners', 'OFF-FA-10004665', 'Stockwell Paper Clips, Metal', Decimal('84.0'), Decimal('-29.1'), Decimal('9.0'), Decimal('2.0'), 105, 325, 9, 2, Decimal('110')),
 ('Office Supplies', 'Fasteners', 'OFF-FA-10003931', 'Stockwell Push Pins, 12 Pack', Decimal('96.6'), Decimal('-52.4'), Decimal('12.0'), Decimal('3.0'), 132, 271, 12, 3, Decimal('111'))]

- Product affinity analysis (which products are often bought together)

In [63]:
%%sql 


WITH joining_table as(
    SELECT o1.sub_category as sub_category_1,
            o2.sub_category as sub_category_2,
            COUNT(*) buy_together
    FROM orders o1
        JOIN orders o2
        ON o1.order_id = o2.order_id AND o1.sub_category > o2.sub_category
    GROUP BY 1, 2
    ORDER BY 3 DESC
)

SELECT sub_category_1,
        MAX(CASE WHEN sub_category_2 = 'Accessories' THEN buy_together END) AS Accessories,
        MAX(CASE WHEN sub_category_2 = 'Appliances' THEN buy_together END) AS Appliances,
        MAX(CASE WHEN sub_category_2 = 'Art' THEN buy_together END) AS Art,
        MAX(CASE WHEN sub_category_2 = 'Binders' THEN buy_together END) AS Binders,
        MAX(CASE WHEN sub_category_2 = 'Bookcases' THEN buy_together END) AS Bookcases,
        MAX(CASE WHEN sub_category_2 = 'Chairs' THEN buy_together END) AS Chairs,
        MAX(CASE WHEN sub_category_2 = 'Copiers' THEN buy_together END) AS Copiers,
        MAX(CASE WHEN sub_category_2 = 'Envelopes' THEN buy_together END) AS Envelopes,
        MAX(CASE WHEN sub_category_2 = 'Fasteners' THEN buy_together END) AS Fasteners,
        MAX(CASE WHEN sub_category_2 = 'Furnishings' THEN buy_together END) AS Furnishings,
        MAX(CASE WHEN sub_category_2 = 'Labels' THEN buy_together END) AS Labels,
        MAX(CASE WHEN sub_category_2 = 'Machines' THEN buy_together END) AS Machines,
        MAX(CASE WHEN sub_category_2 = 'Paper' THEN buy_together END) AS Paper,
        MAX(CASE WHEN sub_category_2 = 'Phones' THEN buy_together END) AS Phones,
        MAX(CASE WHEN sub_category_2 = 'Storage' THEN buy_together END) AS Storage,
        MAX(CASE WHEN sub_category_2 = 'Supplies' THEN buy_together END) AS Supplies
FROM joining_table
GROUP BY 1

 * postgresql://postgres:***@localhost:5433/superstore
16 rows affected.

[('Appliances', 34, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('Art', 174, 119, None, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('Binders', 164, 98, 435, None, None, None, None, None, None, None, None, None, None, None, None, None),
 ('Bookcases', 52, 40, 183, 182, None, None, None, None, None, None, None, None, None, None, None, None),
 ('Chairs', 35, 27, 129, 142, 44, None, None, None, None, None, None, None, None, None, None, None),
 ('Copiers', 40, 38, 137, 137, 54, 48, None, None, None, None, None, None, None, None, None, None),
 ('Envelopes', 41, 41, 150, 123, 59, 48, 52, None, None, None, None, None, None, None, None, None),
 ('Fasteners', 43, 39, 181, 130, 50, 58, 41, 45, None, None, None, None, None, None, None, None),
 ('Furnishings', 51, 28, 145, 164, 45, 41, 41, 36, 40, None, None, None, None, None, None, None),
 ('Labels', 54, 32, 144, 142, 51, 45, 46, 35, 49, 53, None, None, None, None, None, None),
 ('Machines', 41, 26, 155, 131, 48, 47, 33, 40, 47, 50, 64, None, None, None, None, None),
 ('Paper', 45, 37, 146, 116, 55, 56, 54, 38, 48, 37, 49, 38, None, None, None, None),
 ('Phones', 57, 48, 177, 184, 83, 72, 67, 66, 55, 68, 54, 56, 47, None, None, None),
 ('Storage', 138, 98, 436, 401, 147, 125, 137, 129, 130, 116, 147, 128, 133, 177, None, None),
 ('Supplies', 45, 35, 110, 147, 41, 43, 40, 40, 40, 42, 46, 36, 36, 54, 162, None),
 ('Tables', 5, 10, 27, 21, 14, 7, 15, 6, 9, 7, 7, 13, 8, 11, 23, 6)]

- Upselling and cross selling products

In [64]:
%%sql 

WITH order_products AS (
    SELECT DISTINCT
        order_id,
        product_id,
        product_name,
        category,
        sub_category,
        sales
    FROM orders
),
product_pairs AS (
    SELECT 
        a.product_id AS product_1_id,
        a.product_name AS product_1_name,
        a.sales AS product_1_price,
        b.product_id AS product_2_id,
        b.product_name AS product_2_name,
        b.sales AS product_2_price,
        COUNT(*) AS pair_frequency
    FROM order_products a
    JOIN order_products b ON a.order_id = b.order_id AND a.product_id < b.product_id
    GROUP BY 1, 2, 3, 4, 5, 6
),
product_frequency AS (
    SELECT 
        product_id,
        COUNT(*) AS frequency
    FROM order_products
    GROUP BY 1
)
SELECT 
    pp.product_1_id,
    pp.product_1_name,
    pp.product_2_id,
    pp.product_2_name,
    pp.pair_frequency,
    ROUND(pp.pair_frequency * 100.0 / pf1.frequency, 2) AS product_1_confidence,
    ROUND(pp.pair_frequency * 100.0 / pf2.frequency, 2) AS product_2_confidence,
    CASE 
        WHEN pp.product_2_price > pp.product_1_price THEN 'Up-sell'
        ELSE 'Cross-sell'
    END AS opportunity_type,
    CASE 
        WHEN pp.product_2_price > pp.product_1_price THEN pp.product_2_name
        ELSE pp.product_1_name
    END AS recommended_product
FROM product_pairs pp
JOIN product_frequency pf1 ON pp.product_1_id = pf1.product_id
JOIN product_frequency pf2 ON pp.product_2_id = pf2.product_id
ORDER BY pp.pair_frequency DESC, product_1_confidence DESC
LIMIT 5;

 * postgresql://postgres:***@localhost:5433/superstore
5 rows affected.

[('TEC-MA-10002264', 'Panasonic Printer, Durable', 'TEC-PH-10004823', 'Nokia Smart Phone, Full Size', 2, Decimal('33.33'), Decimal('18.18'), 'Up-sell', 'Nokia Smart Phone, Full Size'),
 ('FUR-BO-10000820', 'Sauder 3-Shelf Cabinet, Metal', 'FUR-FU-10004095', 'Eldon Frame, Durable', 1, Decimal('100.00'), Decimal('16.67'), 'Cross-sell', 'Sauder 3-Shelf Cabinet, Metal'),
 ('FUR-BO-10000160', 'Safco Library with Doors, Pine', 'OFF-AR-10004825', 'BIC Canvas, Fluorescent', 1, Decimal('100.00'), Decimal('4.55'), 'Cross-sell', 'Safco Library with Doors, Pine'),
 ('FUR-BO-10000160', 'Safco Library with Doors, Pine', 'OFF-BI-10000734', 'Avery Binding Machine, Recycled', 1, Decimal('100.00'), Decimal('12.50'), 'Cross-sell', 'Safco Library with Doors, Pine'),
 ('FUR-BO-10000533', 'Dania Corner Shelving, Pine', 'TEC-MA-10001624', 'Panasonic Phone, Red', 1, Decimal('100.00'), Decimal('50.00'), 'Cross-sell', 'Dania Corner Shelving, Pine')]

- Slow-moving vs. fast-moving inventory

In [65]:
%%sql

with product_quantity as(
SELECT product_id,
        product_name, 
        SUM(quantity) as total_quantity
FROM orders
GROUP BY 1, 2
),

avg_quantities as(
SELECT AVG(total_quantity) as avg_quantity,
    STDDEV(total_quantity) as stddev_quantity
FROM product_quantity )

SELECT product_id,
        product_name,
        total_quantity,
        CASE WHEN total_quantity > avg_quantity + stddev_quantity THEN 'Fast Moving'
        WHEN total_quantity < avg_quantity - stddev_quantity THEN 'Slow Moving'
        ELSE 'Average Moving' 
        END as Inventory
FROM product_quantity p
    JOIN avg_quantities a
    ON 1 = 1
ORDER BY total_quantity DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[('OFF-AR-10000110', 'Binney & Smith Sketch Pad, Blue', 97, 'Fast Moving'),
 ('OFF-AR-10003651', 'Sanford Pencil Sharpener, Easy-Erase', 93, 'Fast Moving'),
 ('OFF-ST-10004377', 'Rogers File Cart, Single Width', 89, 'Fast Moving'),
 ('OFF-AR-10004519', 'Boston Canvas, Fluorescent', 86, 'Fast Moving'),
 ('OFF-AR-10003066', 'Sanford Markers, Water Color', 84, 'Fast Moving'),
 ('OFF-BI-10001808', 'Cardinal Binding Machine, Clear', 84, 'Fast Moving'),
 ('OFF-AR-10001418', 'BIC Markers, Easy-Erase', 81, 'Fast Moving'),
 ('OFF-AR-10001228', 'Stanley Markers, Water Color', 80, 'Fast Moving'),
 ('OFF-ST-10000624', 'Eldon File Cart, Single Width', 79, 'Fast Moving'),
 ('OFF-ST-10001562', 'Fellowes Box, Industrial', 79, 'Fast Moving')]

## Geographical Analysis

- Sales distribution across cities, states/provinces, countries, and regions

In [66]:
%%sql

with summary_table as(
SELECT region,
        country_region,
        state_province,
        city,
        SUM(sales) as total_sales,
        COUNT(DISTINCT customer_id) as unique_customer
FROM orders
WHERE date_part('year', order_date) = 2023
GROUP BY 1,2,3,4
),

overall_table as(
SELECT SUM(total_sales) as overall_sales,
        SUM(unique_customer) as overall_customer
FROM summary_table
),

region_table as(
SELECT region,
        SUM(total_sales) as region_sales
FROM summary_table
GROUP BY 1
),

country_table as(
SELECT region,
        country_region,
        SUM(total_sales) as country_sales
FROM summary_table
GROUP BY 1, 2
)

SELECT st.region,
        st.country_region,
        st.state_province,
        st.city,
        round(unique_customer::numeric / overall_customer * 100, 1) as overall_customer_pct,
        round(total_sales / overall_sales * 100, 1) as overall_sale_pct,
        round(total_sales / region_sales  * 100, 1) as region_sale_pct,
        round(total_sales / country_sales * 100, 1) as country_sale_pct
FROM summary_table as st
    JOIN overall_table as ot
    ON 1 = 1
    JOIN region_table rt
    ON rt.region = st.region
    JOIN country_table ct
    ON ct.region = st.region AND ct.country_region = st.country_region
ORDER BY overall_sale_pct desc
LIMIT 10

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[('Central', 'France', 'Ile-de-France', 'Paris', Decimal('2.0'), Decimal('2.6'), Decimal('4.6'), Decimal('8.9')),
 ('North', 'United Kingdom', 'England', 'London', Decimal('1.9'), Decimal('1.9'), Decimal('8.3'), Decimal('10.0')),
 ('Central', 'Germany', 'Berlin', 'Berlin', Decimal('1.6'), Decimal('1.5'), Decimal('2.7'), Decimal('7.4')),
 ('South', 'Spain', 'Madrid', 'Madrid', Decimal('1.6'), Decimal('1.4'), Decimal('7.0'), Decimal('14.8')),
 ('Central', 'Austria', 'Vienna', 'Vienna', Decimal('1.8'), Decimal('1.3'), Decimal('2.2'), Decimal('53.4')),
 ('South', 'Italy', 'Lazio', 'Rome', Decimal('1.7'), Decimal('1.2'), Decimal('5.9'), Decimal('11.3')),
 ('Central', 'Germany', 'Hamburg', 'Hamburg', Decimal('0.8'), Decimal('1.1'), Decimal('1.9'), Decimal('5.2')),
 ('South', 'Spain', 'Catalonia', 'Barcelona', Decimal('0.8'), Decimal('1.0'), Decimal('5.2'), Decimal('11.0')),
 ('North', 'Sweden', 'Stockholm', 'Stockholm', Decimal('1.4'), Decimal('1.0'), Decimal('4.3'), Decimal('64.1')),
 ('South', 'Spain', 'Andalusa', 'Seville', Decimal('0.3'), Decimal('0.9'), Decimal('4.2'), Decimal('9.0'))]

- Regional preferences for specific products or categories

In [67]:
%%sql

WITH country_table as(
SELECT country_region as country,
        sub_category,
        round(SUM(sales), 1) as total_sales,
        round( SUM(profit) / SUM(sales) * 100 , 1 ) as profit_margin, 
        COUNT(DISTINCT order_id) as total_orders
FROM orders
GROUP BY 1, 2
),

ranking_table as (
SELECT *,
        round(total_sales / SUM(total_sales) OVER(partition by country) * 100, 1) as pct_country_sales,
        DENSE_RANK() OVER(partition by country ORDER BY total_sales desc) as sale_rank_coutry,
        DENSE_RANK() OVER(ORDER BY total_sales desc) as sale_rank_overall,
        DENSE_RANK() OVER(partition by country ORDER BY total_orders desc) order_rank_country,
        DENSE_RANK() OVER(ORDER BY total_orders desc) order_rank_overall
FROM country_table
)

SELECT *
FROM ranking_table
WHERE sale_rank_coutry <= 3 OR order_rank_country <= 3
ORDER BY total_sales desc
LIMIT 10

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[('Germany', 'Phones', Decimal('104591.2'), Decimal('18.8'), 118, Decimal('16.6'), 1, 1, 4, 20),
 ('France', 'Storage', Decimal('96580.5'), Decimal('13.7'), 290, Decimal('11.2'), 1, 2, 3, 3),
 ('France', 'Bookcases', Decimal('95310.9'), Decimal('12.4'), 125, Decimal('11.1'), 2, 3, 8, 16),
 ('France', 'Copiers', Decimal('95134.3'), Decimal('5.7'), 124, Decimal('11.1'), 3, 4, 9, 17),
 ('United Kingdom', 'Phones', Decimal('77649.2'), Decimal('21.4'), 85, Decimal('14.7'), 1, 9, 4, 33),
 ('Germany', 'Copiers', Decimal('77091.3'), Decimal('19.8'), 82, Decimal('12.3'), 2, 10, 12, 34),
 ('Germany', 'Storage', Decimal('72657.3'), Decimal('14.7'), 245, Decimal('11.6'), 3, 11, 2, 5),
 ('United Kingdom', 'Bookcases', Decimal('69866.9'), Decimal('25.0'), 79, Decimal('13.2'), 2, 12, 5, 35),
 ('United Kingdom', 'Copiers', Decimal('68430.1'), Decimal('24.6'), 75, Decimal('12.9'), 3, 14, 7, 37),
 ('United Kingdom', 'Storage', Decimal('60306.7'), Decimal('14.9'), 201, Decimal('11.4'), 4, 15, 1, 7)]

- Identifying high-performing and underperforming geographic areas

In [68]:
%%sql

with country_table as(
SELECT country_region,
        state_province,
        round(SUM(sales), 1) as total_sales,
        SUM(profit) as total_profit,
        round(SUM(profit) / SUM(sales) * 100 , 1) as profit_margin 
FROM orders
GROUP BY 1, 2
),

avg_table as(
SELECT AVG(total_sales) as avg_sales,
        AVG(profit_margin) as avg_profit_margin
FROM country_table
),

performance_table as(
SELECT ct.country_region,
        ct.total_sales,
        round(ct.total_sales / SUM(total_sales) OVER() * 100 , 2) as country_pct_sales,
        ct.profit_margin,
        CASE WHEN ct.total_sales > 1.4 *  at.avg_sales THEN 'Top Performer'
        WHEN ct.total_sales < 0.7  *  at.avg_sales THEN 'Under Performer'
        ELSE 'Medium Performer' 
        END as sales_performance,
        CASE WHEN ct.profit_margin > 1.2 *  at.avg_profit_margin THEN 'Top Performer'
        WHEN ct.profit_margin < 0.8 *  at.avg_profit_margin THEN 'Under Performer'
        ELSE'Medium Performer'
        END as profit_performance
FROM country_table as ct
    CROSS JOIN avg_table as at
ORDER BY 3 desc)

SELECT *,
        CASE WHEN sales_performance = 'Top Performer' AND profit_performance = 'Top Performer' THEN 'Top Performer'
        WHEN sales_performance = 'Under Performer' AND profit_performance = 'Under Performer' THEN 'Under Performer'
        ELSE 'Mixed'
        END as overall_performance
FROM performance_table
LIMIT 10

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[('United Kingdom', Decimal('485171.0'), Decimal('16.51'), Decimal('20.6'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('France', Decimal('317822.5'), Decimal('10.82'), Decimal('13.9'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('Germany', Decimal('216451.9'), Decimal('7.37'), Decimal('19.6'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('France', Decimal('114372.3'), Decimal('3.89'), Decimal('14.7'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('France', Decimal('83951.6'), Decimal('2.86'), Decimal('18.0'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('France', Decimal('65646.4'), Decimal('2.23'), Decimal('15.0'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('France', Decimal('65176.8'), Decimal('2.22'), Decimal('12.1'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('Spain', Decimal('64385.2'), Decimal('2.19'), Decimal('22.8'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('Germany', Decimal('61917.9'), Decimal('2.11'), Decimal('11.1'), 'Top Performer', 'Top Performer', 'Top Performer'),
 ('Germany', Decimal('58870.8'), Decimal('2.00'), Decimal('18.5'), 'Top Performer', 'Top Performer', 'Top Performer')]

- Regional Sales and Profitability

In [69]:
%%sql

with country_table as(
SELECT country_region,
        city,
        SUM(sales) as total_sales,
        SUM(profit) as total_profit,
        COUNT( DISTINCT order_id ) as total_orders,
        COUNT( order_id ) as orders,
        COUNT(DISTINCT customer_id ) as total_customers
FROM orders
GROUP BY 1, 2
),
overall_sales_table as (
    SELECT SUM(total_sales) as overall_sales
    FROM country_table
)

SELECT country_region,
        COUNT(country_region) as total_cities,
        COALESCE(SUM( CASE WHEN total_profit > 0 THEN 1 END), 0) as profitable_cities,
        COALESCE(SUM (CASE WHEN total_profit < 0 THEN 1 END), 0) as unprofitable_cities,
        COALESCE(round(SUM( CASE WHEN total_profit < 0 THEN 1 END) * 1.0 / 
        COUNT(country_region) * 100, 1), 0) as pct_unprofitable_cities,
        round(SUM(total_sales), 1) as total_sales,
        ROUND(SUM(total_sales) / AVG(ost.overall_sales) * 100, 1) as pct_sales,
        round(SUM(total_profit), 1) as total_profit,
        round(SUM(total_profit) / SUM(total_sales) * 100, 1) as profit_margin,
        SUM(total_customers) as total_customers,
        SUM(total_orders) as total_unique_orders,
        SUM(orders) as total_orders,
        round(SUM(orders)* 1.0 / SUM(total_customers), 3) as order_freq
FROM country_table ct
    JOIN overall_sales_table ost
    ON 1 = 1
GROUP BY 1
ORDER by pct_sales desc

 * postgresql://postgres:***@localhost:5433/superstore
15 rows affected.

[('France', 402, 362, 39, Decimal('9.7'), Decimal('858931.1'), Decimal('29.2'), Decimal('109029.0'), Decimal('12.7'), Decimal('1466'), Decimal('1475'), Decimal('2827'), Decimal('1.928')),
 ('Germany', 153, 145, 8, Decimal('5.2'), Decimal('628840.0'), Decimal('21.4'), Decimal('107322.8'), Decimal('17.1'), Decimal('995'), Decimal('1019'), Decimal('2065'), Decimal('2.075')),
 ('United Kingdom', 158, 155, 3, Decimal('1.9'), Decimal('528576.3'), Decimal('18.0'), Decimal('111900.2'), Decimal('21.2'), Decimal('839'), Decimal('852'), Decimal('1633'), Decimal('1.946')),
 ('Italy', 126, 93, 33, Decimal('26.2'), Decimal('289709.7'), Decimal('9.9'), Decimal('19828.8'), Decimal('6.8'), Decimal('558'), Decimal('561'), Decimal('1108'), Decimal('1.986')),
 ('Spain', 81, 77, 3, Decimal('3.7'), Decimal('287146.7'), Decimal('9.8'), Decimal('54390.1'), Decimal('18.9'), Decimal('453'), Decimal('451'), Decimal('859'), Decimal('1.896')),
 ('Austria', 8, 8, 0, Decimal('0'), Decimal('81162.0'), Decimal('2.8'), Decimal('21442.3'), Decimal('26.4'), Decimal('133'), Decimal('138'), Decimal('270'), Decimal('2.030')),
 ('Netherlands', 53, 0, 52, Decimal('98.1'), Decimal('77514.9'), Decimal('2.6'), Decimal('-41070.1'), Decimal('-53.0'), Decimal('212'), Decimal('212'), Decimal('435'), Decimal('2.052')),
 ('Belgium', 19, 19, 0, Decimal('0'), Decimal('49226.7'), Decimal('1.7'), Decimal('11572.6'), Decimal('23.5'), Decimal('73'), Decimal('73'), Decimal('147'), Decimal('2.014')),
 ('Sweden', 14, 0, 14, Decimal('100.0'), Decimal('30491.4'), Decimal('1.0'), Decimal('-17519.4'), Decimal('-57.5'), Decimal('99'), Decimal('100'), Decimal('203'), Decimal('2.051')),
 ('Switzerland', 8, 8, 0, Decimal('0'), Decimal('24877.9'), Decimal('0.8'), Decimal('7237.5'), Decimal('29.1'), Decimal('40'), Decimal('40'), Decimal('78'), Decimal('1.950')),
 ('Finland', 5, 5, 0, Decimal('0'), Decimal('20704.4'), Decimal('0.7'), Decimal('3905.7'), Decimal('18.9'), Decimal('33'), Decimal('34'), Decimal('64'), Decimal('1.939')),
 ('Norway', 7, 7, 0, Decimal('0'), Decimal('20525.4'), Decimal('0.7'), Decimal('5167.8'), Decimal('25.2'), Decimal('37'), Decimal('37'), Decimal('70'), Decimal('1.892')),
 ('Ireland', 4, 0, 4, Decimal('100.0'), Decimal('16639.5'), Decimal('0.6'), Decimal('-7392.4'), Decimal('-44.4'), Decimal('50'), Decimal('51'), Decimal('106'), Decimal('2.120')),
 ('Portugal', 10, 0, 10, Decimal('100.0'), Decimal('15105.1'), Decimal('0.5'), Decimal('-8703.1'), Decimal('-57.6'), Decimal('36'), Decimal('37'), Decimal('70'), Decimal('1.944')),
 ('Denmark', 7, 0, 7, Decimal('100.0'), Decimal('8638.1'), Decimal('0.3'), Decimal('-4282.0'), Decimal('-49.6'), Decimal('32'), Decimal('31'), Decimal('65'), Decimal('2.031'))]

- Average time between the order date and the dispatch date

In [70]:
%%sql

with country_table as(
SELECT country_region,
        delivery_mode,
        ROUND(SUM(sales), 1) as total_sales,
        round(SUM(profit) / SUM(sales) * 100, 1)as profit_margin,
        round(avg(dispatch_date - order_date), 1) as avg_days_to_dispatch,
        COUNT(DISTINCT order_id ) as unique_orders
FROM orders
WHERE dispatch_date - order_date >= 0
GROUP BY 1, 2
)

SELECT country_region,
        delivery_mode,
        profit_margin,
        total_sales,
        round(total_sales / SUM(total_sales) OVER() * 100, 1)as pct_sales,
        avg_days_to_dispatch
FROM country_table
WHERE unique_orders > 20
ORDER BY 6 DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[('Ireland', 'Standard Class', Decimal('-39.3'), Decimal('7124.5'), Decimal('0.3'), Decimal('5.4')),
 ('Sweden', 'Standard Class', Decimal('-55.8'), Decimal('15930.0'), Decimal('0.6'), Decimal('5.3')),
 ('Switzerland', 'Standard Class', Decimal('26.9'), Decimal('15804.6'), Decimal('0.6'), Decimal('5.3')),
 ('United Kingdom', 'Standard Class', Decimal('21.2'), Decimal('312650.3'), Decimal('11.0'), Decimal('5.1')),
 ('Denmark', 'Standard Class', Decimal('-47.3'), Decimal('6636.7'), Decimal('0.2'), Decimal('5.1')),
 ('France', 'Standard Class', Decimal('12.4'), Decimal('499058.2'), Decimal('17.6'), Decimal('5.1')),
 ('Belgium', 'Standard Class', Decimal('22.8'), Decimal('34475.0'), Decimal('1.2'), Decimal('5.0')),
 ('Norway', 'Standard Class', Decimal('23.7'), Decimal('11730.1'), Decimal('0.4'), Decimal('5.0')),
 ('Italy', 'Standard Class', Decimal('7.8'), Decimal('180704.3'), Decimal('6.4'), Decimal('5.0')),
 ('Netherlands', 'Standard Class', Decimal('-50.4'), Decimal('40496.8'), Decimal('1.4'), Decimal('5.0'))]

## Discount Strategy Analysis

- Profit margin analysis by product category and sub-category across different discount levels, from no discount to over 30%.

In [71]:
%%sql


with prep_table as(
SELECT CASE WHEN discount  = 0 THEN 'No discount'
        WHEN discount  <= 0.1 THEN '1%-10% discount'
        WHEN discount  <= 0.2 THEN '11%-20% discount'
        WHEN discount  <= 0.3 THEN '21%-30% discount'
        ELSE '30+ discount' 
        END AS discount,
        category,
        sub_category,
        round(SUM(profit) / SUM(sales) * 100, 1)as profit_margin
FROM orders
GROUP BY 1, 2, 3
)

SELECT category,
        sub_category,
        MAX(CASE WHEN discount = 'No discount' THEN profit_margin END) AS pm_with_no_discount,
        MAX(CASE WHEN discount = '1%-10% discount' THEN profit_margin END) AS pm_with_discount_1_10,
        MAX(CASE WHEN discount = '11%-20% discount' THEN profit_margin END) AS pm_with_discount_11_20,
        MAX(CASE WHEN discount = '21%-30% discount' THEN profit_margin END) AS pm_with_discount_21_30,
        MAX(CASE WHEN discount = '30+ discount' THEN profit_margin END) AS pm_with_discount_above_30
FROM prep_table
GROUP BY 1, 2

 * postgresql://postgres:***@localhost:5433/superstore
17 rows affected.

[('Office Supplies', 'Appliances', Decimal('28.9'), Decimal('15.7'), Decimal('13.0'), None, Decimal('-53.3')),
 ('Technology', 'Phones', Decimal('23.5'), Decimal('14.7'), Decimal('12.6'), None, Decimal('-43.9')),
 ('Office Supplies', 'Supplies', Decimal('23.2'), Decimal('26.6'), None, None, Decimal('-53.4')),
 ('Office Supplies', 'Storage', Decimal('23.1'), Decimal('15.0'), Decimal('6.3'), None, Decimal('-37.9')),
 ('Office Supplies', 'Labels', Decimal('25.5'), Decimal('14.4'), None, None, Decimal('-44.7')),
 ('Office Supplies', 'Envelopes', Decimal('26.0'), Decimal('21.3'), None, None, Decimal('-47.9')),
 ('Office Supplies', 'Binders', Decimal('26.0'), Decimal('16.3'), None, None, Decimal('-51.9')),
 ('Technology', 'Machines', Decimal('21.9'), Decimal('13.0'), Decimal('7.6'), None, Decimal('-49.3')),
 ('Furniture', 'Tables', Decimal('25.9'), Decimal('22.8'), None, None, Decimal('-36.4')),
 ('Furniture', 'Bookcases', Decimal('25.8'), Decimal('18.6'), Decimal('19.6'), None, Decimal('-54.8')),
 ('Furniture', 'Chairs', Decimal('22.8'), Decimal('19.5'), Decimal('-0.4'), None, Decimal('-64.9')),
 ('Office Supplies', 'Fasteners', Decimal('28.7'), Decimal('21.7'), None, None, Decimal('-45.5')),
 ('Technology', 'Copiers', Decimal('25.8'), Decimal('11.1'), Decimal('8.5'), None, Decimal('-60.1')),
 ('Technology', 'Accessories', Decimal('26.6'), Decimal('13.8'), None, None, Decimal('-60.4')),
 ('Furniture', 'Furnishings', Decimal('25.1'), Decimal('22.5'), Decimal('3.0'), Decimal('-12.4'), Decimal('-77.7')),
 ('Office Supplies', 'Art', Decimal('24.2'), Decimal('14.8'), None, None, Decimal('-46.5')),
 ('Office Supplies', 'Paper', Decimal('24.9'), Decimal('25.4'), None, None, Decimal('-45.8'))]

- Analysis of 2023 product sub-categories: sales performance, discount strategies, and profitability metrics.

In [72]:
%%sql

with sub_category_table as (
SELECT sub_category,
        SUM(sales) as total_sales,
        round(SUM(sales * discount ) / SUM(sales) * 100, 1) AS discount_pct,
        round(SUM(profit) / SUM(sales) * 100, 1) as profit_margin
FROM orders
WHERE date_part('year', order_date) = 2023
GROUP BY 1
)

SELECT sub_category,
        round(total_sales, 1) as total_sales,
        ROUND(total_sales / SUM(total_sales) OVER() * 100, 1)as pct_sales,
        discount_pct,
        profit_margin
FROM sub_category_table
order by discount_pct desc

 * postgresql://postgres:***@localhost:5433/superstore
17 rows affected.

[('Tables', Decimal('34972.6'), Decimal('3.4'), Decimal('29.9'), Decimal('-18.5')),
 ('Chairs', Decimal('68309.5'), Decimal('6.6'), Decimal('13.5'), Decimal('4.6')),
 ('Storage', Decimal('126608.6'), Decimal('12.1'), Decimal('13.3'), Decimal('9.0')),
 ('Machines', Decimal('83540.2'), Decimal('8.0'), Decimal('12.1'), Decimal('5.8')),
 ('Phones', Decimal('128460.7'), Decimal('12.3'), Decimal('10.8'), Decimal('10.6')),
 ('Bookcases', Decimal('133992.3'), Decimal('12.9'), Decimal('9.6'), Decimal('15.2')),
 ('Appliances', Decimal('89625.1'), Decimal('8.6'), Decimal('9.3'), Decimal('15.1')),
 ('Copiers', Decimal('142333.3'), Decimal('13.7'), Decimal('7.2'), Decimal('16.4')),
 ('Furnishings', Decimal('28989.1'), Decimal('2.8'), Decimal('7.0'), Decimal('13.1')),
 ('Fasteners', Decimal('6815.3'), Decimal('0.7'), Decimal('5.1'), Decimal('23.3')),
 ('Labels', Decimal('5845.6'), Decimal('0.6'), Decimal('4.2'), Decimal('20.2')),
 ('Binders', Decimal('34376.5'), Decimal('3.3'), Decimal('3.9'), Decimal('20.4')),
 ('Art', Decimal('52826.0'), Decimal('5.1'), Decimal('3.7'), Decimal('20.0')),
 ('Paper', Decimal('13991.9'), Decimal('1.3'), Decimal('3.4'), Decimal('22.1')),
 ('Envelopes', Decimal('12535.4'), Decimal('1.2'), Decimal('3.3'), Decimal('20.5')),
 ('Supplies', Decimal('20176.9'), Decimal('1.9'), Decimal('2.6'), Decimal('17.9')),
 ('Accessories', Decimal('58804.7'), Decimal('5.6'), Decimal('2.4'), Decimal('20.0'))]

- sales distribution, profitability, and order frequency across different discount ranges

In [73]:
%%sql


WITH discount_table as(
SELECT CASE WHEN discount = 0 THEN 'No Discount' 
        WHEN discount <= 0.1 THEN '0 - 10% Discount'
        WHEN discount <= 0.2 THEN '11 - 20% Discount'
        WHEN discount <= 0.3 THEN '21 - 30% Discount'
        ELSE '30+ Discount' 
        END as discount,
        SUM(sales) as sales,
        round(SUM(profit) / SUM(sales) * 100, 1)as profit_margin,
        COUNT( DISTINCT order_id ) as number_of_orders
FROM orders
GROUP BY 1
)

SELECT discount,
        round(sales, 1) as total_sales,
        round(sales / SUM(sales) OVER() * 100, 1)AS pct_sales,
        profit_margin,
        number_of_orders,
        round(number_of_orders / SUM(number_of_orders) OVER() * 100, 1)AS pct_orders
FROM discount_table
ORDER by CASE WHEN discount = 'No Discount' THEN 1
        WHEN discount = '0 - 10% Discount' THEN 2
        WHEN discount = '11 - 20% Discount' THEN 3
        WHEN discount = '21 - 30% Discount' THEN 4
        ELSE 5 
        END

 * postgresql://postgres:***@localhost:5433/superstore
5 rows affected.

[('No Discount', Decimal('1522455.8'), Decimal('51.8'), Decimal('25.2'), 3285, Decimal('55.5')),
 ('0 - 10% Discount', Decimal('762412.0'), Decimal('25.9'), Decimal('16.6'), 1243, Decimal('21.0')),
 ('11 - 20% Discount', Decimal('298933.8'), Decimal('10.2'), Decimal('9.0'), 456, Decimal('7.7')),
 ('21 - 30% Discount', Decimal('6137.2'), Decimal('0.2'), Decimal('-12.4'), 50, Decimal('0.8')),
 ('30+ Discount', Decimal('348150.2'), Decimal('11.8'), Decimal('-47.1'), 884, Decimal('14.9'))]

- Optimal discount levels for maximizing profit

In [74]:
%%sql

WITH discount_profit AS (
    SELECT 
        ROUND(discount * 100) AS discount_percentage,
        SUM(sales) AS total_sales,
        SUM(profit) AS total_profit,
        COUNT(DISTINCT order_id) AS order_count
    FROM orders
    GROUP BY 1
),
profit_metrics AS (
    SELECT 
        discount_percentage,
        total_sales,
        total_profit,
        order_count,
        ROUND(total_profit / total_sales * 100, 2) AS profit_margin,
        ROUND(total_profit / order_count, 2) AS profit_per_order
    FROM discount_profit
)
SELECT 
    discount_percentage,
    total_sales,
    total_profit,
    order_count,
    profit_margin,
    profit_per_order
FROM profit_metrics
ORDER BY profit_margin DESC, total_profit DESC;

 * postgresql://postgres:***@localhost:5433/superstore
14 rows affected.

[(Decimal('0'), Decimal('1522455.81'), Decimal('383806.53'), 3285, Decimal('25.21'), Decimal('116.84')),
 (Decimal('10'), Decimal('762412.041'), Decimal('126884.031'), 1243, Decimal('16.64'), Decimal('102.08')),
 (Decimal('15'), Decimal('256321.3335'), Decimal('24677.5635'), 349, Decimal('9.63'), Decimal('70.71')),
 (Decimal('20'), Decimal('42612.480'), Decimal('2189.550'), 107, Decimal('5.14'), Decimal('20.46')),
 (Decimal('30'), Decimal('6137.229'), Decimal('-758.421'), 50, Decimal('-12.36'), Decimal('-15.17')),
 (Decimal('35'), Decimal('54160.0410'), Decimal('-9122.6490'), 45, Decimal('-16.84'), Decimal('-202.73')),
 (Decimal('40'), Decimal('70087.032'), Decimal('-21346.428'), 225, Decimal('-30.46'), Decimal('-94.87')),
 (Decimal('45'), Decimal('2546.4285'), Decimal('-1103.1915'), 2, Decimal('-43.32'), Decimal('-551.60')),
 (Decimal('50'), Decimal('183734.265'), Decimal('-96632.115'), 560, Decimal('-52.59'), Decimal('-172.56')),
 (Decimal('60'), Decimal('26429.364'), Decimal('-20517.456'), 109, Decimal('-77.63'), Decimal('-188.23')),
 (Decimal('65'), Decimal('6579.8145'), Decimal('-6221.9655'), 16, Decimal('-94.56'), Decimal('-388.87')),
 (Decimal('70'), Decimal('3657.465'), Decimal('-5496.765'), 6, Decimal('-150.29'), Decimal('-916.13')),
 (Decimal('80'), Decimal('158.916'), Decimal('-460.284'), 4, Decimal('-289.64'), Decimal('-115.07')),
 (Decimal('85'), Decimal('796.842'), Decimal('-3068.658'), 2, Decimal('-385.10'), Decimal('-1534.33'))]

- Impact of discounts on different customer segments

In [75]:
%%sql 

with summary_table as(
SELECT customer_id,
        MIN(order_date) as first_order,
        MAX(order_date) as last_order,
        round((MAX(order_date) - MIN(order_date)) / 365.0, 2) as customer_lifespan,
        count(DISTINCT order_id) as customer_orders,
        SUM(sales) as total_sales,
        SUM(profit) as total_profit
FROM orders
GROUP BY 1
),

today_table as(
    SELECT  MAX(last_order) as today_date
    from summary_table),

ranking as (
SELECT 
        customer_id,
        customer_lifespan,
        NTILE(5) OVER (ORDER BY total_sales) as m_score,
        NTILE(5) OVER (ORDER BY customer_orders) as f_score,
        NTILE(5) OVER (ORDER BY (today_date - last_order) desc) as r_score
FROM summary_table
    JOIN today_table 
    ON 1 = 1
ORDER BY total_sales desc
),
customer_segmentaion as(
SELECT customer_id,
    CASE 
        WHEN r_score >= 4 AND f_score >= 4 AND m_score >= 4 THEN 'Best Customers'
        WHEN r_score >= 3 AND f_score >= 3 AND m_score >= 3 THEN 'Loyal Customers'
        WHEN r_score >= 4 AND f_score >= 1 AND m_score >= 4 THEN 'Big Spenders'
        WHEN r_score <= 2 AND f_score >= 3 AND m_score >= 3 THEN 'Lost Customers'
        WHEN r_score >= 3 AND f_score <= 2 AND m_score <= 2 THEN 'New Customers'
        WHEN r_score <= 2 AND f_score <= 2 AND m_score <= 2 THEN 'Lost Cheap Customers'
        ELSE 'Others'
    END AS customer_segment
FROM ranking
),

segement_discount as(
SELECT o.customer_id ,
        cs.customer_segment,
        CASE WHEN discount = 0 THEN 'No Discount' 
        WHEN discount <= 0.1 THEN '0 - 10% Discount'
        WHEN discount <= 0.2 THEN '11 - 20% Discount'
        WHEN discount <= 0.3 THEN '21 - 30% Discount'
        ELSE '30+ Discount' 
        END as discount,
        sales
FROM orders o
    LEFT JOIN customer_segmentaion cs
    ON o.customer_id = cs.customer_id
),

overall_sales_table as
(SELECT SUM(sales) as overall_sales 
    FROM segement_discount),

final_table as(
SELECT customer_segment,
    ROUND(SUM(CASE WHEN discount = 'No Discount' THEN sales END)) AS no_discount,
    ROUND(SUM(CASE WHEN discount = '0 - 10% Discount' THEN sales END)) as discount_0_10,
    ROUND(SUM(CASE WHEN discount = '11 - 20% Discount' THEN  sales END)) as discount_11_20,
    ROUND(SUM(CASE WHEN discount = '21 - 30% Discount' THEN  sales END)) as discount_21_30,
    ROUND(SUM(CASE WHEN discount = '30+ Discount' THEN sales END)) as discount_above_30
FROM segement_discount
GROUP BY 1
)

SELECT customer_segment,
        no_discount,
        discount_0_10,
        discount_11_20,
        discount_21_30,
        discount_above_30,
        round(no_discount / overall_sales * 100, 1) as pct_sales_no_discount,
        round(discount_0_10 / overall_sales * 100, 1) as pct_sales_discount_0_10,
        round(discount_11_20 / overall_sales * 100, 1) as pct_sales_discount_11_20,
        round(discount_21_30 / overall_sales * 100, 2) as pct_sales_discount_21_30,
        round(discount_above_30 / overall_sales * 100, 1) as pct_sales_discount_above_30 
FROM final_table ft
    JOIN overall_sales_table ost
    ON 1 = 1

 * postgresql://postgres:***@localhost:5433/superstore
7 rows affected.

[('Lost Customers', Decimal('294871'), Decimal('140932'), Decimal('70667'), Decimal('822'), Decimal('56974'), Decimal('10.0'), Decimal('4.8'), Decimal('2.4'), Decimal('0.03'), Decimal('1.9')),
 ('Others', Decimal('307276'), Decimal('138405'), Decimal('63310'), Decimal('1733'), Decimal('80609'), Decimal('10.5'), Decimal('4.7'), Decimal('2.2'), Decimal('0.06'), Decimal('2.7')),
 ('Big Spenders', Decimal('85880'), Decimal('35179'), Decimal('3788'), Decimal('231'), Decimal('15395'), Decimal('2.9'), Decimal('1.2'), Decimal('0.1'), Decimal('0.01'), Decimal('0.5')),
 ('Best Customers', Decimal('365859'), Decimal('201528'), Decimal('73876'), Decimal('917'), Decimal('83355'), Decimal('12.5'), Decimal('6.9'), Decimal('2.5'), Decimal('0.03'), Decimal('2.8')),
 ('New Customers', Decimal('75873'), Decimal('24572'), Decimal('12741'), Decimal('626'), Decimal('18260'), Decimal('2.6'), Decimal('0.8'), Decimal('0.4'), Decimal('0.02'), Decimal('0.6')),
 ('Lost Cheap Customers', Decimal('75849'), Decimal('41391'), Decimal('9310'), Decimal('181'), Decimal('17595'), Decimal('2.6'), Decimal('1.4'), Decimal('0.3'), Decimal('0.01'), Decimal('0.6')),
 ('Loyal Customers', Decimal('316847'), Decimal('180405'), Decimal('65243'), Decimal('1628'), Decimal('75962'), Decimal('10.8'), Decimal('6.1'), Decimal('2.2'), Decimal('0.06'), Decimal('2.6'))]

## Time-based Analysis

- Monthly performance analysis: year-over-year changes in orders, customers, cities, sales, and profit margins with 4-month moving averages.

In [76]:
%%sql

with monthly_table as(
SELECT date_trunc('month', order_date)::date as month,
        COUNT(DISTINCT order_id) as orders, 
        COUNT(DISTINCT customer_id) as customers,
        COUNT(DISTINCT city) as cities,
        round(SUM(sales),1) as total_sales,
        round(SUM(profit) / SUM(sales) * 100, 1)as profit_margin
FROM orders
GROUP BY 1
),
lag_table as(
    
SELECT *,
        round((orders :: numeric /
        LAG(orders) OVER (PARTITION BY date_part('month', month) ORDER BY month) - 1) * 100, 1) as order_pct_yoy,
        round((customers::numeric /
        LAG(customers) OVER (PARTITION BY date_part('months', month) ORDER BY month) -1) * 100, 1) as customer_pct_yoy,
        cities -
        LAG(cities) OVER (PARTITION BY date_part('month', month) ORDER BY month) as cities_ac_yoy,
        round((total_sales / 
        LAG(total_sales) OVER (PARTITION BY date_part('months', month) ORDER BY month) - 1) * 100, 1) as sales_pct_yoy,
        profit_margin - 
        LAG(profit_margin) OVER (PARTITION BY date_part('month', month) ORDER BY month) as profit_margin_ac_yoy
FROM monthly_table
)

SELECT *,
        round(AVG(order_pct_yoy) OVER (order by month rows between 4 preceding and current row), 1) as m4_avg_orders,
        round(AVG(customer_pct_yoy) OVER ( order by month rows between 4 preceding and current row), 1) as m4_avg_customer,
        round(AVG(cities_ac_yoy) OVER (order by month rows between 4 preceding and current row), 1) as m4_avg_cities,
        round(AVG(sales_pct_yoy) OVER ( order by month rows between 4 preceding and current row), 1) as m4_avg_sales,
        round(AVG(profit_margin_ac_yoy) OVER (order by month rows between 4 preceding and current row), 1) as m4_avg_profit_margin 
FROM lag_table
order by month
limit 10

 * postgresql://postgres:***@localhost:5433/superstore
10 rows affected.

[(datetime.date(2020, 1, 1), 45, 44, 43, Decimal('18603.7'), Decimal('3.4'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 2, 1), 43, 42, 39, Decimal('22635.9'), Decimal('4.4'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 3, 1), 49, 49, 41, Decimal('17926.0'), Decimal('18.0'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 4, 1), 55, 53, 51, Decimal('30133.1'), Decimal('13.6'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 5, 1), 50, 49, 44, Decimal('30502.2'), Decimal('6.8'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 6, 1), 105, 96, 83, Decimal('54356.3'), Decimal('14.3'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 7, 1), 42, 41, 40, Decimal('18319.0'), Decimal('10.9'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 8, 1), 105, 96, 92, Decimal('55139.1'), Decimal('12.8'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 9, 1), 105, 101, 93, Decimal('72665.3'), Decimal('20.0'), None, None, None, None, None, None, None, None, None, None),
 (datetime.date(2020, 10, 1), 48, 47, 42, Decimal('20800.1'), Decimal('9.2'), None, None, None, None, None, None, None, None, None, None)]